body {
    font-family: Arial, sans-serif;
    background-color: #f0bae7;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.word-display {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.letter-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ee9cee;
    border-radius: 5px;
}

.guess-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #702872;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.replay-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.status-message {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.replay-button:hover, .guess-button:hover {
    opacity: 0.8;
}
